<% if !flash[:success].blank? %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:success] %>
    </div> 
<% end %>

<div class="main-div">

  <h1>Listing products</h1>

  <table>
    <tr>
      <th>Name</th>
      <th>Password</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.password %></td>
      <td><%= link_to 'Show', product %></td>
      <td><%= link_to 'Edit', edit_product_path(product), :id => "edit-#{product.id}",:class=>"edit" %></td>
      <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Product', new_product_path, :class => "add-product" %>

</div>

<div class="modal-box" style="display: none;">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Enter Details</h3>
    </div>
    <div class="modal-body">
      <label>username:</label>
      <input type="text" id="username" value="name"></input><br>
      <label>password:</label>
      <input type="text" id="password" value="pass"></input><br>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" id="close-button">Close</a>
      <a href="#" class="btn btn-primary">Save changes</a>
    </div>
</div>

<script type="text/javascript">
(function(){
  $(".add-product").on("click",function(e){
    e.preventDefault();
    $("body").addClass("dim");
    $(".modal-box").show().addClass("bright");

    var modalClose = function(){
      $(".modal-box").hide();
      $("body").removeClass("dim");
    }
    //close the modal
    $(".close,#close-button").on("click",modalClose);
  });



  
  $(".btn-primary").on("click",function(e){
    e.preventDefault();
    var  save_button = $(".btn-primary");
    var uname = $("#username");
    var pwd = $("#password");
    save_button.innerHTML = "Updating ..";
    $.ajax({
        url: 'products/create',
        type: 'post',
        async: true,
        data: { name:username.value, password:password.value },
        beforeSend : function(){
          var value = (uname.val()== ""||pwd.val()=="") ? false : true;
          if(value == "false"){
          $("<div class='alert alert-error'>"+
        "<button type='button' class='close' data-dismiss='alert'>&times;</button>"+"please enter username or password"+
        "</div> ").insertAfter(".modal-header");
        }
          return value;
          },
         //alert("hello");
        success : function(result){
          save_button.innerHTML = "Success";
          //alert(result);
          $(".modal-box").hide();
          $("body").removeClass("dim");
          $("body").html(result);
        },
        error : function(err){
          save_button.innerHTML = "Try Again";
          $(".modal-box").hide();
          $("body").removeClass("dim");
          $("body").html(result);
        },
        complete : function(err){
          $(".alert alert-block").addClass()
        },  
      });
  });

  var notificationTest = new Notify('header',{
    body: 'This is an awesome notification',
    notifyShow: onNotifyShow
  });
  

  function webNotifyShow(){
    if (Notify.isSupported()){
     if (Notify.needsPermission())
        Notify.requestPermission();
    }
  }

  //webNotifyShow();

  notificationTest.show();
  //alert("sdfsdfs");

  function onNotifyShow(){
    console.log("Notification shown");
  };


  $(".edit").on("click",function(){
    //alert("hello");
    var $this = $(this);
    var value = $this.attr("href").split('/');
    value = value[2];
    username = <%= fetch_value %>
    alert(username);
    console.log(value[2]);
    alert(value[2]);
    });

})();
  
</script>

<style>
.modal-box{
  width: 50em;
  margin: auto;
  z-index:100
}


.dim{
  background-color: grey;
}
.bright{
  background-color: white;
}
.alert{
  width:92%;
}
</style>